.op {
  display: flex;
  //   justify-content: space-between;
  margin-top: 12px;
  gap: 40px;
  align-items: center;
  padding-left: 10px;
  //   gap: 12px;
  font-family: inter;
  //   height: 30%;
  color: #4b5665;
}
